<!DOCTYPE html>   
<html>   
    <head>   
        <title>File Uploading</title>   
            <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>   
            <%= csrf_meta_tags %>   
    </head>      
    <body>
        <div>
            <%= render partial: "navbar", locals: { myvar: @val } %>
        </div>
        <div>   
            <%= yield %>   
        </div>   
    </body>
</html>  
